* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;

}

body {
	/*background-color: #ffffff/#89e7ff;*/
	background-image: url("../img/background.png");
	font-family: sans-serif;
  	margin: 32px auto;
  	width: 90%;
}

header {
	position: fixed;
	width: 90%;
	padding: 12px;
	margin: 0px auto;
	top: 0px;
	background-color: #e8e8ee;
	border-radius: 4px;
}

.item {
	margin-top: 30px;
	margin-left: 12px;
  	padding: 4px;
  	float: left;
  	background-color: #e8e8ee;
  	width: 269px;
  	height: 450px;
}

img {
	background-color: white;
	width: 262px;
	height: 400px;
}

.item a {
  margin-top: 15px;
}

section {
	margin-top: 150px;
}

#search {
	float: right;
	margin-top: 40px;
	margin-left: 200px;	
	text-align: center;
}

.logo {
	float: left;
}

.heading {
	float: left;
}

#logo {
	height: 110px;
	width: 200px;
	margin-right: 20px;
	margin-top: 10px;
}

button {
	margin-right: 10px;
}

#overlay { 
    position:fixed;
    width:500px;
    height:600px;
    margin:-300px auto auto -250px;
    top:50%;
    left:50%;
    text-align:center;
    background-color: #e8e8ee;
    display: none;
    border-radius: 4px;
    border: solid;
    border-color: #ffffff;
}

#closeButton {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-bottom: 3px;
	margin-right: 3px;
}

#cat {
	padding: 14px;
	text-align: center;
}

#img {
	margin-top: 10px;
}

#description {
	margin-top: 20px;
}







